* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle {
    text-align: center;
}