* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width: 80%;
  max-width: 1300px;
  margin: 30px auto;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.brand {
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 14px;
    font-weight: 900;
}

.logo-title span {
    color: #adb5bd;
    font-weight: 500;
}

.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
}

.list a {
    padding: 0 10px;
    font-size: 10px;
    text-decoration: none;
    color: #222;
}

.list a:hover {
    color:#eb5e28 ;
    text-decoration: underline;
}

.login-btn {
    border: none;
    font-size: 10px;
    font-weight: 400;
    color: #eb5e28;
    background-color: #faebd7;
    padding: 6px 16px; 
    border-radius: 25px;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.main--text {
    width: 50%;
    padding: 20px;
}

.main--text h1 {
    font-size: 3rem;
}

.main--text p {
    font-size: 0.8rem;
    line-height: 16px;
    padding: 16px 0;
    color: #6c757d;
}

.bg {
    margin-left: auto;
    width: 80%;
    height: 100%;
    background-color: #f5f8fd;
}

.main--img {
    width: 50%;
    height: 60vh;
    position: relative;
}

.main--img .hero-img {
    width: 70%;
    position: absolute;
    top: -20%;
    z-index: 1;
}

.field {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.field input {
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    padding: 8px 10px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #f8f9fa;
}

.field input::placeholder {
    color: #adb5bd;
}

.field .main--btn {
    position: absolute;
    border: none;
    outline: none;
    background-color: #f1602c;
    color: #fff;
    font-size: 10px;
    top: 50%;
    right: 22%;
    transform: translateY(-50%);
    padding: 8px 14px;
    border-radius: 25px;
}

.scroll--text {
    display: flex;
    align-items: center;
}
.scroll--text img {
    width: 16px;
    height: 14px;
    margin-right: 6px;
}
.scroll--text p{
    color: #adb5bd;
}

.card-one {
    position: absolute;
    font-size: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 6px;
    width: 140px;
    top: 65%;
    left: -8%;
    z-index: 2;
    background-color: #fff;
}

.card-two {
     position: absolute;
    font-size: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 6px;
    width: 160px;
    top: 80%;
    left: 40%;
    z-index: 2;
    background-color: #fff;
}

.card .card-rate {
    display: flex;
    align-items: center;
}

.card-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.card .card-rate p {
    color: #eb5e28;
    font-weight: 600;
}

.card-desc {
    color: #6c757d;
    padding: 6px;
}

/* -----------------How it works------------ */

.works--title {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin: 60px 0;

}

.works--title p {
    font-size: 1.4rem;
    margin-bottom: 60px;
}

.works--section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
/* 
.section-img {
    position: relative;

} */

.section--image {
    position: relative;
}

.works--img {
    width: 28rem;
    height: 350px;
    margin-right: 40px;
}

.section-card {
    width: 200px;
    height: 120px;
    background-color: #fff;
    color: #eb5e28;
    padding: 8px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.section-card .block {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f8fd;
    margin: 8px;
    border-radius: 25px;
}

.block i {
    color: #6c757d;
}

.block div {
    width: 70%;
    height: 4px;
    margin-left: 10px;
    background-color: #adadad;
}

.section--subtitle {
    margin: 0 50px;
}

.section--subtitle .icon-box {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.box-one {
    background-color: #f9efed;
}

.box-two {
    background-color: #e7f8fd;
}

.box-three {
    background-color: #f9efed;
} 

.section--subtitle h3 {
    font-size: 2rem;
    padding: 40px 0;

}

.section--subtitle p {
    font-size: 1.2rem;
}

.section--subtitle .btn {
    border: none;
    outline: none;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 25px;
    font-size: 16px;
    background-color: #f5f3f3;
}

.work-card-one, .work-card-two {
    position: absolute;
    width: 220px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff;
}

.work-card-one > div, 
.work-card-two > div{
    display: flex;
}

.work-card-one {
    top: -60px;
    left: 250px;
}

.work-card-two {
    top: 280px;
    left: -50px;
}

.rate  {
    color: #eb5e28;
    
}

.share-card-one {
    position: absolute;
    background-color: #fff;
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: 20px;
    left: -30px;

}

.share-card-two {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 280px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.share-flex, .share-flex div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

/* Features */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 80px;
    margin: 50px 0;
}

.grid-item {
    /* width: 40vh; */
    background: #fff;
    padding: 20px;
    border: 1px solid rgb(247, 246, 246);
}

.grid-item:hover {
    box-shadow: 0 1px 20px rgba(0,0,0,0.2);
}

.grid-item h5 {
    font-size: 1.2rem;
    margin: 20px 0;
}

.grid-item p {
    font-size: 1rem;
    color: #6E6F6F;
}

/* ------------------Pricing------- */


.center {
    text-align: center;
}

.off-box {
    width: 300px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    border-radius: 40px; 
}

.monthly {
    padding: 8px 40px;
    margin-left: 2px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #fff;
}

.yearly {
    display: flex;
    align-items: center;
}

.yearly span {
    font-size: 0.8rem;
    color: #666;
}
.off {
    background-color: #fff;
    font-size: 0.8rem;
    margin: 8px 6px;
    padding: 3px; 
    border: none;
    outline: none;
    border-radius: 25px;   
}

.plans {
    display: flex;
    border: 1px solid lightgray;
    width: 80%;
    margin: 50px auto;
}

.free, .normal {
    width: 50%;
    padding: 20px;
}

.plans h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.price {
    font-size: 2.6rem;
    margin: 10px 0;
}

.plans ul{
    margin: 10px 0;
    list-style-type: none;
    line-height: 3;
}

.normal {
    background: #333;
    color: #fff;
}
.free p, .normal p {
   font-size: 0.7rem;
   color: #aaa; 
}

.normal span {
    font-size: 0.8rem;
}

.free button, .normal button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
}

.free-btn {
    background-color: #eee;
}

.normal-btn {
    background-color:#eb5e28;
    color: #fff;
}


/* --------------FAQ--------- */

.faq-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.faq-box   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.faq-box span {
    font-size: 1.4rem;
}
.faq-active p {
    padding: 20px;
}

.faq-box:hover, .select {
    background-color: #f0f8fa;
    cursor: pointer;

}

/* ---------------Contact --------- */

form {
    margin: 50px;
}

.field-group {
    width: 400px;
    margin: 20px auto;
    position: relative;
}

.field-group input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 15px 10px;
    color: #999;
    font-size: 1rem;
    background-color:#f6f6f6;
    padding-left: 60px;
}

.field-group textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #999;
    font-size: 1rem;
    background-color:#f6f6f6;
    resize:none;
}
.field-group input::placeholder,
.field-group textarea::placeholder {
    color: #999;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    color: #8c8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.field-group input:focus ~ .icon {
    color: #393838;
}

.field-group button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 25px;
    background-color:#eb5e28;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.getting-started {
    text-align: center;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    background:rgba(0,0,0,0.6) url(./images/bg-img.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    background-blend-mode: darken;
}

.getting-started h3 {
    font-size: 2.5rem;
    padding: 30px;
}

.getting-started p {
    color: #adafaf;
    padding: 10px 60px;
}

.getting-started .join {
    width: 60%;
    margin: 20px auto;
    background-color: #f6f6f6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}



.join input, .join button {
    border: none;
    outline: none;
    font-size: 0.8rem;
}

.join input {
    background-color: #f6f6f6;
    padding: 12px;
    
}

.join button {
    padding: 12px 20px;
    border-radius: 25px;
    background-color: #eb5e28;
    color: #fff;
}