* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 30px;
    margin-right: 6px;
}

ul li{
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #222;
}

.login-btn {
    background-color: rgb(251, 217, 207);
    color: orangered;
    font-weight: 600;
    border: none;
    outline: none;
    padding:8px 16px;
    border-radius: 25px;
    cursor: pointer;

}